@using Exchange.Models.Entities.Virtual
@model CurrenciesPrice

<section id="WalletSection">
    <table class="table table-hover">
    <head>
        My wallet
    </head>
    <thead>
        <th>Currency</th>
        <th>Unit price</th>
        <th>Amount</th>
        <th>Value</th>
        <th>Actions</th>
    </thead>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.name
            </td>
            <td>
                @item.sellPrice
            </td>
            <td>
                @item.amount
            </td>
            <td>
                @(item.amount * item.sellPrice)
            </td>
            <td>
                <input type="button" value="Sell" onclick="wantToSell('@item.code')" class="btn btn-default" />
            </td>
        </tr>
    }
    </table>
        Available PLN : @Model.cash
</section>



